.servicio-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.servicio-container p {
  /*   text-align: center; */

  max-width: 600px;
}

.servicio-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.agente-enlaces {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.option-header {
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: var(--text-md);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chat-container,
.automatizacion-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.chat-container {
  text-align: center;
}

.agente-texto-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* O usa la variable de espacio que prefieras */
  align-items: center;
}

.servicio-options {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* O la variable correspondiente */
}

.chat-demo-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.chat-demo-wrapper.show {
  max-height: 600px; /* Ajusta según el contenido */
}

@media (max-width: 768px) {
}
