.hero {
  /*   background: radial-gradient(circle at top center, #2c1860 15%, #020013 100%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

div.hero-logo {
  width: 100%;
  padding: 0 1rem;
  animation: fadeIn 2s linear 0.2s both;
  opacity: 0;
  /*   padding: 1rem 0 1rem 0; */
}

div.hero-logo p#logo1 {
}

div.hero-logo img {
  width: 100%;
}

div.hero-content-bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vw * var(--hero-aspect-ratio));
  /*   clip-path: inset(10% 0 10% 0); */
  overflow: hidden;
}

div.hero-content-bg video {
  width: 100%;
  margin: -2rem 0 -1.5rem 0;
  object-fit: cover;
}

.hero-logo {
  /*   position: absolute;
  bottom: 2rem;
     right: 2rem; 
  opacity: 0.2;
  width: 180px; */
}

.hero-content {
  padding: 1.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

@media (min-width: 800px) {
  .hero-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    position: relative;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }

  .hero-content::after {
    content: "";
    position: absolute;
    left: calc(75% - 1rem);
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--color-border);
  }

  .hero-content > *:first-child {
    padding-right: 2rem;
  }
}
